<div class="flex flex-col min-w-0 sm:h-full w-full">
    <!-- Header -->
    <div class="ml-2 text-3xl font-bold leading-none tracking-tight lg:ml-0">{{ 'nav.userSettings' | transloco }}</div>


    <!-- Content -->
    <div class="mt-8">
        <div class="w-full max-w-3xl">
            <form [formGroup]="formGroup">
                <div class="w-full">
                    <div class="text-xl">Profile</div>
                    <div class="text-secondary"> Following information is publicly displayed, be careful!</div>
                </div>

                <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full">
                            <mat-label>{{ 'label.firstName' | transloco }}</mat-label>
                            <input id="firstName" matInput [formControlName]="'firstName'" />
                            @if (formGroup.get('firstName').hasError('required')) {
                                <mat-error> {{ 'error.firstNameRequired' | transloco }} </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full">
                            <mat-label>{{ 'label.lastName' | transloco }}</mat-label>
                            <input id="lastName" matInput [formControlName]="'lastName'" />
                            @if (formGroup.get('lastName').hasError('required')) {
                                <mat-error> {{ 'error.lastNameRequired' | transloco }} </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <div class="sm:col-span-4 flex gap-2.5">
                        <mat-form-field class="w-full">
                            <mat-label>{{ 'label.emailAddress' | transloco }}</mat-label>
                            <input id="email" matInput [formControlName]="'email'" />
                            @if (formGroup.get('email').hasError('required')) {
                                <mat-error> {{ 'error.emailAddressRequired' | transloco }} </mat-error>
                            }


                            @if (formGroup.get('emailConfirmed').value) {
                                <mat-icon matIconSuffix [ngClass]="'text-green-600'" matTooltip="{{ 'label.verified' | transloco }}">verified</mat-icon>
                            } @else {
                                <mat-icon matIconSuffix [ngClass]="'text-red-600'" matTooltip="{{ 'label.notVerified' | transloco }}">info</mat-icon>
                            }
                        </mat-form-field>
                    </div>

                    <div class="sm:col-span-4 flex gap-2.5 justify-end">
                        <button type="button" mat-flat-button color="primary">{{ 'button.verify' | transloco }}</button>
                    </div>


                    <div class="flex items-center justify-between sm:col-span-4">
                        <div class="flex-auto cursor-pointer">
                            <div class="font-medium leading-6"> {{ 'label.activated' | transloco }} </div>
                            <div class="text-secondary text-md"> When you want to activate account. You just access even you have grant and active your account. </div>
                        </div>

                        <mat-slide-toggle color="primary" [formControlName]="'isActive'"></mat-slide-toggle>
                    </div>



                    <div class="sm:col-span-4 flex gap-2.5 justify-end">
                        <button (click)="submit()" type="submit" mat-flat-button color="primary">{{ 'button.save' | transloco }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
