<div class="flex w-full min-w-0 flex-col sm:absolute sm:inset-0 sm:overflow-hidden">
    <mat-drawer-container class="flex-auto sm:h-full">
        <mat-drawer #drawer [mode]="mode" [opened]="opened" class="dark:bg-gray-900 sm:w-96">
            <div class="m-8 mr-6 flex items-center justify-between sm:my-10">
                <div class="text-4xl font-extrabold leading-none tracking-tight">{{ 'nav.settings' | transloco }}</div>
            </div>

            <div class="flex flex-col divide-y border-b border-t">
                @for (section of catalog; track section.path) {
                    <div class="flex cursor-pointer px-8 py-5 bg-primary-50 dark:bg-hover">
                        <mat-icon [svgIcon]="section.icon"></mat-icon>
                        <div class="ml-3">
                            <div class="font-medium leading-6 text-primary dark:text-primary-500"> {{ section.title | transloco }} </div>
                            <div class="font-medium leading-6 text-primary dark:text-primary-500"> {{ section.content | transloco }} </div>
                        </div>
                    </div>
                }
            </div>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col">
            <div class="flex-auto px-6 pb-12 pt-9 md:p-8 md:pb-12 lg:p-12">
                <div class="flex items-center">
                    <button (click)="drawer.opened ? drawer.close() : drawer.open();" mat-icon-button class="-ml-2 lg:hidden">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
